hr {
  height: 4px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
}

body {
  margin: 0;
  padding-top: 40px;
  background: #252525;
  font-family: Open Sans, sans-serif;
  font-size: 14px;
  color: white;
}

img {
  max-width: 100%;
  height: auto;
}

.errorPage {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.errorPage h3 {
  text-align: center;
}

.errorPage img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

main {
  margin: 0 auto;
  padding: 0 15px;
  width: calc(100% - 30px);
  max-width: 1150px;
}

#departments {
  position: relative;
}

#departments:hover svg {
  transform: rotate(180deg);
}

#departments:hover > div {
  display: flex;
}
