hr {
  height: 4px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
}

body {
  margin: 0;
  padding-top: 65px;
  background: #252525;
  font-family: Open Sans, sans-serif;
  font-size: 14px;
  color: white;
}

img {
  max-width: 100%;
  height: auto;
}

.errorPage {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.errorPage h3 {
  text-align: center;
}

.errorPage img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

main {
  width: 100%;
  padding: 15px 0 25px;
  border-right: 1px solid #1d1d1d;
  flex: 0 0 750px;
  max-width: 750px;
  background: #252525;
}

@media screen and (max-width: 768px) {
  main {
    max-width: 100%;
  }
}

@media screen and (max-width: 1120px) {
  main {
    flex: 1;
    max-width: 750px;
    border-right: none;
  }
}

#departments {
  position: relative;
}

#departments:hover svg {
  transform: rotate(180deg);
}

#departments:hover > div {
  display: flex;
}

button,
input,
textarea {
  outline: none !important;
}
