.buttonsMain {
  max-width: 600px;
  display: flex;
  gap: 10px 5px;
  margin-left: 57px;
  flex-wrap: nowrap;
  margin-bottom: 20px;
}

.buttonsMain .btn {
  cursor: pointer;
  background: #3c3c3c;
  border: 0;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  height: 34px;
  padding: 0 15px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 10px;
  position: relative;
}

.buttonsMain .addMem {
  background: #c03e3f;
}

.errorPage {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.errorPage h3 {
  text-align: center;
}

.errorPage img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

main {
  margin: 0 auto;
  padding: 0 15px;
  width: calc(100% - 30px);
  max-width: 1150px;
}

.loading-wave-dots[data-v-46b20d22] {
  position: relative;
}
.loading-wave-dots[data-v-46b20d22] .wave-item {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  margin-top: -4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  -webkit-animation: loading-wave-dots-data-v-46b20d22 linear 2.8s infinite;
  animation: loading-wave-dots-data-v-46b20d22 linear 2.8s infinite;
}
.loading-wave-dots[data-v-46b20d22] .wave-item:first-child {
  margin-left: -36px;
}
.loading-wave-dots[data-v-46b20d22] .wave-item:nth-child(2) {
  margin-left: -20px;
  -webkit-animation-delay: 0.14s;
  animation-delay: 0.14s;
}
.loading-wave-dots[data-v-46b20d22] .wave-item:nth-child(3) {
  margin-left: -4px;
  -webkit-animation-delay: 0.28s;
  animation-delay: 0.28s;
}
.loading-wave-dots[data-v-46b20d22] .wave-item:nth-child(4) {
  margin-left: 12px;
  -webkit-animation-delay: 0.42s;
  animation-delay: 0.42s;
}
.loading-wave-dots[data-v-46b20d22] .wave-item:last-child {
  margin-left: 28px;
  -webkit-animation-delay: 0.56s;
  animation-delay: 0.56s;
}
@-webkit-keyframes loading-wave-dots-data-v-46b20d22 {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background: #bbb;
  }
  10% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    background: #999;
  }
  20% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background: #bbb;
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background: #bbb;
  }
}
@keyframes loading-wave-dots-data-v-46b20d22 {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background: #bbb;
  }
  10% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    background: #999;
  }
  20% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background: #bbb;
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background: #bbb;
  }
}
.loading-circles[data-v-46b20d22] .circle-item {
  width: 5px;
  height: 5px;
  -webkit-animation: loading-circles-data-v-46b20d22 linear 0.75s infinite;
  animation: loading-circles-data-v-46b20d22 linear 0.75s infinite;
}
.loading-circles[data-v-46b20d22] .circle-item:first-child {
  margin-top: -14.5px;
  margin-left: -2.5px;
}
.loading-circles[data-v-46b20d22] .circle-item:nth-child(2) {
  margin-top: -11.26px;
  margin-left: 6.26px;
}
.loading-circles[data-v-46b20d22] .circle-item:nth-child(3) {
  margin-top: -2.5px;
  margin-left: 9.5px;
}
.loading-circles[data-v-46b20d22] .circle-item:nth-child(4) {
  margin-top: 6.26px;
  margin-left: 6.26px;
}
.loading-circles[data-v-46b20d22] .circle-item:nth-child(5) {
  margin-top: 9.5px;
  margin-left: -2.5px;
}
.loading-circles[data-v-46b20d22] .circle-item:nth-child(6) {
  margin-top: 6.26px;
  margin-left: -11.26px;
}
.loading-circles[data-v-46b20d22] .circle-item:nth-child(7) {
  margin-top: -2.5px;
  margin-left: -14.5px;
}
.loading-circles[data-v-46b20d22] .circle-item:last-child {
  margin-top: -11.26px;
  margin-left: -11.26px;
}
@-webkit-keyframes loading-circles-data-v-46b20d22 {
  0% {
    background: #dfdfdf;
  }
  90% {
    background: #505050;
  }
  to {
    background: #dfdfdf;
  }
}
@keyframes loading-circles-data-v-46b20d22 {
  0% {
    background: #dfdfdf;
  }
  90% {
    background: #505050;
  }
  to {
    background: #dfdfdf;
  }
}
.loading-bubbles[data-v-46b20d22] .bubble-item {
  background: #666;
  -webkit-animation: loading-bubbles-data-v-46b20d22 linear 0.75s infinite;
  animation: loading-bubbles-data-v-46b20d22 linear 0.75s infinite;
}
.loading-bubbles[data-v-46b20d22] .bubble-item:first-child {
  margin-top: -12.5px;
  margin-left: -0.5px;
}
.loading-bubbles[data-v-46b20d22] .bubble-item:nth-child(2) {
  margin-top: -9.26px;
  margin-left: 8.26px;
}
.loading-bubbles[data-v-46b20d22] .bubble-item:nth-child(3) {
  margin-top: -0.5px;
  margin-left: 11.5px;
}
.loading-bubbles[data-v-46b20d22] .bubble-item:nth-child(4) {
  margin-top: 8.26px;
  margin-left: 8.26px;
}
.loading-bubbles[data-v-46b20d22] .bubble-item:nth-child(5) {
  margin-top: 11.5px;
  margin-left: -0.5px;
}
.loading-bubbles[data-v-46b20d22] .bubble-item:nth-child(6) {
  margin-top: 8.26px;
  margin-left: -9.26px;
}
.loading-bubbles[data-v-46b20d22] .bubble-item:nth-child(7) {
  margin-top: -0.5px;
  margin-left: -12.5px;
}
.loading-bubbles[data-v-46b20d22] .bubble-item:last-child {
  margin-top: -9.26px;
  margin-left: -9.26px;
}
@-webkit-keyframes loading-bubbles-data-v-46b20d22 {
  0% {
    width: 1px;
    height: 1px;
    box-shadow: 0 0 0 3px #666;
  }
  90% {
    width: 1px;
    height: 1px;
    box-shadow: 0 0 0 0 #666;
  }
  to {
    width: 1px;
    height: 1px;
    box-shadow: 0 0 0 3px #666;
  }
}
@keyframes loading-bubbles-data-v-46b20d22 {
  0% {
    width: 1px;
    height: 1px;
    box-shadow: 0 0 0 3px #666;
  }
  90% {
    width: 1px;
    height: 1px;
    box-shadow: 0 0 0 0 #666;
  }
  to {
    width: 1px;
    height: 1px;
    box-shadow: 0 0 0 3px #666;
  }
}
.loading-default[data-v-46b20d22] {
  position: relative;
  border: 1px solid #999;
  -webkit-animation: loading-rotating-data-v-46b20d22 ease 1.5s infinite;
  animation: loading-rotating-data-v-46b20d22 ease 1.5s infinite;
}
.loading-default[data-v-46b20d22]:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  margin-top: -3px;
  margin-left: -3px;
  width: 6px;
  height: 6px;
  background-color: #999;
  border-radius: 50%;
}
.loading-spiral[data-v-46b20d22] {
  border: 2px solid #777;
  border-right-color: transparent;
  -webkit-animation: loading-rotating-data-v-46b20d22 linear 0.85s infinite;
  animation: loading-rotating-data-v-46b20d22 linear 0.85s infinite;
}
@-webkit-keyframes loading-rotating-data-v-46b20d22 {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@keyframes loading-rotating-data-v-46b20d22 {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
.loading-bubbles[data-v-46b20d22],
.loading-circles[data-v-46b20d22] {
  position: relative;
}
.loading-bubbles[data-v-46b20d22] .bubble-item,
.loading-circles[data-v-46b20d22] .circle-item {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  border-radius: 50%;
}
.loading-bubbles[data-v-46b20d22] .bubble-item:nth-child(2),
.loading-circles[data-v-46b20d22] .circle-item:nth-child(2) {
  -webkit-animation-delay: 93ms;
  animation-delay: 93ms;
}
.loading-bubbles[data-v-46b20d22] .bubble-item:nth-child(3),
.loading-circles[data-v-46b20d22] .circle-item:nth-child(3) {
  -webkit-animation-delay: 0.186s;
  animation-delay: 0.186s;
}
.loading-bubbles[data-v-46b20d22] .bubble-item:nth-child(4),
.loading-circles[data-v-46b20d22] .circle-item:nth-child(4) {
  -webkit-animation-delay: 0.279s;
  animation-delay: 0.279s;
}
.loading-bubbles[data-v-46b20d22] .bubble-item:nth-child(5),
.loading-circles[data-v-46b20d22] .circle-item:nth-child(5) {
  -webkit-animation-delay: 0.372s;
  animation-delay: 0.372s;
}
.loading-bubbles[data-v-46b20d22] .bubble-item:nth-child(6),
.loading-circles[data-v-46b20d22] .circle-item:nth-child(6) {
  -webkit-animation-delay: 0.465s;
  animation-delay: 0.465s;
}
.loading-bubbles[data-v-46b20d22] .bubble-item:nth-child(7),
.loading-circles[data-v-46b20d22] .circle-item:nth-child(7) {
  -webkit-animation-delay: 0.558s;
  animation-delay: 0.558s;
}
.loading-bubbles[data-v-46b20d22] .bubble-item:last-child,
.loading-circles[data-v-46b20d22] .circle-item:last-child {
  -webkit-animation-delay: 0.651s;
  animation-delay: 0.651s;
}
