.posts {
  flex: 1 1;
  display: flex;
  flex-direction: column;
}

.post {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-bottom: 40px;
}

.post > .avatar img {
  width: 40px;
  height: 40px;
  margin: 0 8px;
}

.post > .contentPost > .postHeader {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 5px 10px;
  margin-bottom: 4px;
}

.post > .contentPost > .postHeader > h2 {
  padding: 0;
  margin: 0;
}

.post > .contentPost > .postHeader > .iconComments {
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post > .contentPost > .postHeader > .iconComments > svg {
  margin-right: 6px;
  opacity: 0.6;
}

.post > .buttonsPost {
  min-width: 50px;
  padding: 0 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.post > .buttonsPost > * {
  margin: 8px 0;
}

.buttonsCoins {
  position: absolute;
  bottom: 100%;
  right: 0;
}

.post > .buttonsPost button,
.buttonsCoins > button {
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  width: 50px;
  min-height: 40px;
  background: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 768px) {
  .buttonsPost {
    max-width: 600px;
    margin: 0 auto;
  }

  .buttonsPost > :last-child {
    flex-grow: 2;
  }

  .post > .buttonsPost button,
  .buttonsCoins > button {
    height: 55px;
  }
}

.buttonsCoins > button {
  opacity: 0.6;
  padding: 3px;
  display: block;
}

.buttonsCoins > button:hover {
  opacity: 1;
}

.buttonsCoins > button > img {
  width: 25px;
  margin-bottom: 5px;
}

.buttonsCoins > button > span {
  font-size: 13px;
  display: flex;
  font-weight: 700;
}

.buttonsCoins > button > span > img {
  width: 14px;
  height: auto;
  margin-left: 3px;
}

.post > .buttonsPost > .coins {
  background: rgba(255, 255, 255, 0.05);
  height: 55px;
  position: relative;
}

.post > .buttonsPost > .coins > img {
  width: 25px;
}

.post > .buttonsPost > .star.active {
  color: #f0cc00;
}

.post > .buttonsPost > .plus {
  font-size: 32px;
  background: linear-gradient(180deg, #c03e3e 0, #b23333 50%, #ac2f2f);
}

.post > .buttonsPost > .plus.added {
  background: linear-gradient(180deg, #94b425 0, #8dac20 50%, #87a61c);
}

.post > .buttonsPost > .plus > .text {
  display: none;
}

@media screen and (max-width: 768px) {
  .post > .buttonsPost > .plus > .plusIcon {
    display: none !important;
  }
  .post > .buttonsPost > .plus > .text {
    display: initial;
  }

  .likeCounter {
    display: none;
  }
}

.memDetails {
  font-size: 12px;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.memDetails > .userAddTimeDetails > .addTime {
  margin: 0 8px;
  color: #777;
}

.otherLikes {
  display: flex;
}

.likeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-weight: 700;
  padding: 0 8px;
}

.likeContainer > .image {
  width: 18px;
  height: 18px;
  margin-right: 8px;
}

.likeContainer > .image > img {
  width: 18px;
  height: 18px;
}

.likeContainer > .image > span {
  display: none;
  font-size: 11px;
  position: absolute;
  padding: 3px 5px;
  bottom: calc(100% + 6px);
  background-color: black;
  left: 50%;
  font-weight: normal;
  border-radius: 3px;
  transform: translateX(-59%);
}

.likeContainer > .image > span:after {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  top: calc(100% - 15px);
  left: 50%;
  background-color: black;
  transform: translateX(-50%) rotate(45deg);
  z-index: -1;
}

.likeContainer > .image:hover > span {
  display: block;
}

.memDetails > .userAddTimeDetails > .userName {
  display: inline-block;
  position: relative;
  padding: 8px 0;
}

.memDetails > .userAddTimeDetails > .userName > .author {
  color: rgb(222, 34, 33);
}

.detailsAvatar {
  width: 45px;
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.detailsAvatar img {
  border-radius: 50%;
}

.userPostContent {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
}

.userPostName {
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 5px;
  color: rgb(222, 34, 33);
}

.userPostInfo {
  width: 100%;
  flex-wrap: nowrap;
  gap: 5px;
  margin-bottom: 5px;
  justify-content: space-between;
  display: flex;
}

.userPostInfo > div {
  flex-grow: 1;
  background: #252525;
  line-height: 38px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  align-items: center;
  padding: 0 8px;
  border-radius: 4px;
  position: relative;
  justify-content: space-between;
  display: flex;
}

.userPostInfo > div:first-child {
  padding-right: 25px;
}

.userPostActions {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-size: 12px;
}

.userPostActions button,
.userPostActions a {
  color: #8f8f8f;
  padding: 3px 7px;
  border-radius: 4px;
  background-color: transparent;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.userPostActions button.observed {
  background-color: rgb(222, 34, 33);
  color: white;
}

.userPostActions button.blacklisted {
  background-color: black;
  color: white;
}

.authorInfo {
  display: none;
  position: absolute;
  top: 100%;
  left: calc(100% - 60px);
  width: 310px;
  background: #313131;
  border-radius: 3px;
  padding: 15px;
  z-index: 11;
}

.authorInfo:before {
  width: 0;
  height: 0;
  content: "";
  display: block;
  border-style: solid;
  border-width: 0 5px 5px;
  border-color: transparent transparent #313131;
  position: absolute;
  left: 10px;
  top: -5px;
}

.memDetails > .userAddTimeDetails > .userName:hover .authorInfo {
  display: flex;
}

.contentPost a {
  text-decoration: none;
}

.contentPost img {
  max-width: 100%;
  height: auto;
}

.contentPost > .comments > .comment > .likes {
  font-size: 20px;
  float: right;
}

.contentPost > .comments > .comment > .likes > span {
  margin: 5px;
}

.contentPost > .comments > .comment > .likes button {
  border-radius: 5px;
  background-color: darkred;
  color: white;
  font-size: 18px;
  width: 30px;
  box-shadow: 1px 1px 3px black;
}

.contentPost > .comments > .comment {
  background-color: rgba(0, 0, 0, 0.2);
  margin: 2px;
  padding: 5px 15px;
  width: calc(100% - 34px);
}

.contentPost > .comments > .comment > p {
  width: 100%;
}

.buttonsMain {
  max-width: 600px;
  display: flex;
  gap: 10px 5px;
  margin-left: 57px;
  flex-wrap: nowrap;
}

.buttonsMain button {
  cursor: pointer;
  background: #3c3c3c;
  border: 0;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  height: 34px;
  padding: 0 15px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 10px;
  position: relative;
}

.buttonsMain button.active:after {
  content: "";
  width: 100%;
  height: 8px;
  top: calc(100% - 3px);
  left: 0;
  background: #3c3c3c;
  position: absolute;
}

.buttonsMain .addMem {
  background: #c03e3f;
}

.errorPage {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.errorPage h3 {
  text-align: center;
}

.errorPage img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.filterComponents {
  position: relative;
  margin-bottom: 20px;
}

@media screen and (max-width: 450px) {
  .buttonsMain {
    margin-left: 0;
    flex-wrap: wrap;
  }

  .buttonsMain > button {
    flex: 1;
  }
}

@media (max-width: 768px) {
  .avatar {
    display: none;
  }

  .post {
    flex-wrap: wrap;
  }

  .contentPost {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }

  .contentPost img {
    width: 100%;
  }

  .buttonsPost {
    position: relative;
    left: 0;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    padding-top: 5px;
    flex-direction: row !important;
  }
}

.userVote {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  right: -5px;
  color: #fff;
  background: #c03e3e;
  font-weight: 700;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
  border: none;
  cursor: pointer;
}
