.container {
  position: relative;
  width: 100%;
  margin-top: 20px;
  padding: 20px;
  background-color: #1f1f1f;
}

.images > div {
  display: flex;
  flex-wrap: wrap;
}

.images > div > a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: calc(25% - 10px);
  height: 140px;
  margin: 5px;
  text-decoration: none;
  font-style: italic;
  font-size: 12px;
  color: white;
  background-color: black;
}

.container h2 {
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 12px;
  color: #777;
}

.tags > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: stretch;
  gap: 10px;
}

.tags a {
  padding: 5px;
  text-align: left;
  font-size: 15px;
  border: 1px solid #464646;
}
