.settingsContainer {
  position: relative;
  max-width: 650px;
  margin-bottom: 25px;
  color: #fff;
}

.premium {
  margin-top: 0;
  font-size: 30px;
  color: #fff;
}

.premium span {
  color: #b4d132;
}

.tabs {
  display: flex;
  gap: 2px;
  margin-bottom: -1px;
  padding: 0;
  border: none;
}

.tabs > li {
  flex-grow: 1;
  margin-right: 0;
  text-align: center;
  color: #fff;
  list-style: none;
  background: #2b2b2b;
  transform: translateY(2px);
  transition: transform 0.3s ease;
  z-index: 2;
}

.tabs > li > button {
  width: 100%;
  padding: 0.75em 0;
  color: white;
  border: none;
  background: none;
  cursor: pointer;
}

.tabs > li > button:hover {
  background: #313131;
}

.tabs > li.active {
  color: #fff;
  background: #313131;
}

.tabs > li.active {
  transform: translateY(0);
}

.tabContainer {
  padding: 35px 15px;
  color: #fff;
  border: 1px solid #313131;
  background: #313131;
}

.userDataForm {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 4px solid #252525;
}

.formGroup {
  position: relative;
  margin-bottom: 5px;
}

.formGroup:hover > span.errorMsg {
  display: block;
  opacity: 1;
}

.formGroup > span.errorMsg {
  position: absolute;
  top: calc(100% + 8px);
  right: 50%;
  display: none;
  width: auto;
  padding: 4px;
  white-space: nowrap;
  font-size: 11px;
  border-radius: 4px;
  background-color: #c03e3e;
  opacity: 0;
  transform: translateX(50%);
  transition: opacity 0.3s;
  z-index: 1;
}

.formGroup > span.errorMsg:after {
  content: " ";
  position: absolute;
  bottom: 100%;
  right: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #c03e3e transparent;
  transform: translateX(50%);
}

.formGroup > input,
.formGroup > select {
  width: 100%;
  height: 38px;
  padding: 0 10px;
  line-height: 38px;
  color: #777;
  border: none;
  background: #1f1f1f;
}

.formButtons {
  text-align: center;
}

.formButtons button {
  display: block;
  width: 100%;
  max-width: none;
  height: 30px;
  margin: 0 auto;
  color: #fff;
  border: none;
  border-radius: 5px;
  background: #c03e3e;
  cursor: pointer;
}

input.error {
  border: 1px solid #c03e3e !important;
}

.avatar {
  padding-bottom: 20px;
  text-align: center;
  color: #fff;
  border-bottom: 4px solid #252525;
}

.avatar .formButtons {
  margin-top: 25px;
}

.avatar > div > canvas {
  width: 204px !important;
  height: 204px !important;
  margin-bottom: 25px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.avatar > div > input {
  display: none;
}

.formDeleteAccount {
  position: relative;
  margin-top: 25px;
  text-align: center;
}

.formDeleteAccount button {
  display: inline-block;
  margin: 0 auto;
  padding: 0;
  font-size: 14px;
  color: #c03e3f;
  border: none;
  background: transparent;
  cursor: pointer;
}

.contentBoxWrapper {
  position: relative;
  max-width: 650px;
  margin-bottom: 25px;
  padding: 15px;
  color: #fff;
  background: #313131;
}

.contentBoxWrapper h1 {
  display: block;
  margin-bottom: 25px;
  text-align: center;
  font-weight: 400;
  font-size: 22px;
  color: #fff;
}

.contentBoxWrapper > div {
  margin-bottom: 25px;
}

.contentBoxWrapper > div > header {
  margin-bottom: 15px;
  color: #fff;
}

.contentBoxWrapper > div > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contentBoxWrapper > div > ul li {
  position: relative;
  display: inline-flex;
  margin: 2px;
  padding: 5px 0 5px 8px;
  color: #fff;
  border-color: #1f1f1f;
  border-radius: 3px;
  background: #1f1f1f;
}

.contentBoxWrapper > div > ul li span {
  margin-right: 4px;
  padding-right: 8px;
  font-size: 12px;
  border-right: 1px solid #2f2f2f;
}

.contentBoxWrapper > div > ul li button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: white;
  border: none;
  background: transparent;
  cursor: pointer;
}

.userFormData {
  position: relative;
  max-width: 360px;
  margin: 0 auto;
}

.userFormDataBlock {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 25px;
  font-size: 14px;
  color: #fff;
}

.userFormDataBlock label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.userFormDataBlock span:first-child {
  margin-right: 5px;
  line-height: 15px;
  font-size: 20px;
  color: #b4d132;
}

.userFormDataBlock button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 160px;
  height: 30px;
  margin: 0 auto;
  color: #fff;
  border: none;
  border-radius: 5px;
  outline: 0 !important;
  cursor: pointer;
  background: #c03e3e;
}

.column {
  flex-direction: column;
  align-items: flex-start;
}

.radioGroup {
  display: flex;
}

.radioGroup label {
  margin: 8px;
}

.noPremium {
  filter: blur(4px);
}

.noPremium:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.userFormDataBuyButton {
  position: absolute;
  top: 140px;
  left: 50%;
  height: 40px;
  margin-left: -90px;
  padding: 0 30px;
  line-height: 40px;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  border-radius: 5px;
  background: linear-gradient(180deg, #94b425 0, #8dac20 50%, #87a61c);
  z-index: 10;
}
