.user {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 600px;
  margin: 0 66px 0 56px;
  padding: 15px;
  border-radius: 3px;
  color: #fff;
}

.avatar {
  margin: 0 auto;
  max-width: 118px;
  border-radius: 50%;
}

.userInfo {
  flex: 1;
  margin: 0 auto;
  padding-left: 15px;
}

.userInfo header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.userInfo header h2 {
  margin: 0;
  font-weight: 400;
  font-size: 28px;
}

.userDetails {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.userDetails > div {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-right: 25px;
}

.userDetails > div > span > svg {
  font-size: 20px;
  color: #8f8f8f;
}

.profileBadges {
  margin-bottom: 10px;
}

.profileBadges > div {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  color: #fff;
}

.profileBadges > div > span {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 700;
  font-size: 16px;
}

.userProfileActions {
  margin-bottom: 10px;
}

.userProfileActions button {
  display: inline-flex;
  margin: 0 3px;
  padding: 4px 10px;
  font-size: 22px;
  color: white;
  border: none;
  border-radius: 5px;
  background: #313131;
  cursor: pointer;
}

.userProfileActions button.disabled {
  color: #505050;
}

.userRanks {
  width: 125px;
  padding: 5px 10px;
  border-radius: 5px;
  background: #1f1f1f;
}

.rank {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  text-decoration: none;
  font-weight: 700;
  font-size: 22px;
  color: #fff;
}

.actions {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  margin-bottom: 25px;
  margin-left: 55px;
}

.actions > button {
  flex: 1;
  min-height: 40px;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 3px;
  background: #1f1f1f;
  cursor: pointer;
}

.actions > button:first-child {
  margin-right: 2px;
}

.actions button.active {
  background: #c03e3e;
}

.breadcrumbs {
  margin: 15px 66px 15px 60px;
  font-size: 14px;
  color: #777;
}

.breadcrumbs > span {
  position: relative;
  font-size: 12px;
}

.breadcrumbs > span a {
  text-decoration: none;
  color: #fff;
}

.breadcrumbs > span:not(:last-child):after {
  content: ">";
  display: inline-block;
  margin: 0 5px;
}

.posts {
  margin-bottom: 20px;
  margin-left: 56px;
}

.posts > select {
  width: 100%;
  max-width: 600px;
  height: 38px;
  padding: 0 10px;
  line-height: 38px;
  font-size: 16px;
  color: #fff;
  border: none;
  background: #1f1f1f;
}

.loader {
  position: relative;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  animation: loading-rotating ease 1.5s infinite;
}

.loader:after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 1);
  transform: translateX(-50%) translateY(50%);
}

@keyframes loading-rotating {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

.userVote {
  position: absolute;
  right: -20px;
  top: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  margin: 0;
  margin-left: 8px;
  font-weight: 700;
  font-size: 24px;
  color: #fff;
  border: none;
  border-radius: 50%;
  background: #c03e3e;
  box-shadow: 0 2px 3px #000;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .user {
    margin: 0 auto;
  }

  .actions {
    margin: 0 auto;
  }

  .breadcrumbs {
    max-width: 600px;
    margin: 15px auto;
  }

  .posts {
    max-width: 600px;
    margin: 0 auto 20px auto;
  }

  .userRanks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 15px 0 5px;
  }

  .userInfo header h2 {
    margin: 0 auto;
  }

  .userDetails {
    justify-content: center;
    align-items: center;
  }

  .profileBadges > div {
    justify-content: center;
    align-items: center;
  }

  .actions {
    flex-wrap: wrap;
  }
}
